* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arimo;
    background-color: #F7FAFF;
    min-height: 100vh
}

p,h3,br,img,button,label,input,h4 {
    user-select: none;
}

.menu {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: white;
    margin-top: 4rem;
}

.menu--logo {
    display: flex;
}
.logo_img{
    width: 50px;
    height: 50px;
}
.logo_lista{
    list-style: none;
}
/* .menu--botoes{
} */

.menu--listaBtn {
    list-style: none;
    display: flex;
}

.livrosTeste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*justify-content: space-around; */
    /* display: block; */
}


.teste01 {
    background-color: #ffffff;
    margin: 15px;
    padding: 1rem;
    border-radius: 20px;
    width: 45vw;
        box-shadow: 0 10px 20px #0000001a;
    
}

.teste02 {
    background-color: #ffffff;
    margin: 15px;
    padding: 1rem;
    border-radius: 20px;
    width: 45vw;
        box-shadow: 0 10px 20px #0000001a;
}